body {
  font-family: sans-serif;
  background-color: #7fa5cb;
}

#main-section {
  background-color: rgb(196, 196, 33);
  display: flex;
  flex-wrap: wrap;
}

#search-history {
  display: flex;
  flex-direction: column;
}

aside {
  background-color: hsl(32, 70%, 59%);
  border-radius: 5px;
  border-width: 1px;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px 0px;
  color: hsl(206, 17%, 28%);
  font-size: 18px;
  margin: 0 auto;
  max-width: 800px;
  padding: 30px 40px;
}

#search-form {
  font-weight: bold;
}

#input {
  font-weight: bold;
}

button {
  font-weight: bold;
}

#search-button {
  font-weight: bold;
}

#forecast {
  display: flex;
}

.col {
}

#current {
  background-color: hsl(15, 51%, 75%);
  border-radius: 5px;
  border-width: 1px;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px 0px;
  color: hsl(206, 17%, 28%);
  font-size: 18px;
  margin: 0 auto;
  max-width: 800px;
  padding: 30px 40px;
}

#forecast {
  background-color: hsl(15, 51%, 75%);
  border-radius: 5px;
  border-width: 1px;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px 0px;
  color: hsl(206, 17%, 28%);
  font-size: 18px;
  margin: 0 auto;
  max-width: 800px;
  padding: 30px 40px;
}

.cards {
  background-color: hsl(244, 53%, 50%);
  border-radius: 5px;
  border-width: 1px;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px 0px;
  color: hsl(206, 17%, 28%);
  font-size: 18px;
  margin: 0 auto;
  max-width: 800px;
  padding: 30px 40px;
}
